@using Lab12.Models
@model Lab12.Models.NumberViewModel

@{
    ViewData["Title"] = Model.Title;
}

@if (Model.NumberModel.Result == null)
{
    @using (Html.BeginForm(Model.ActionName, Model.ControllerName, FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Title)
        @Html.HiddenFor(m => m.ActionName)
        @Html.HiddenFor(m => m.ControllerName)

        <div>
            @Html.TextBoxFor(m => m.NumberModel.FirstNumber)
        </div>
        <div>
            @Html.DropDownListFor(
                    m => m.NumberModel.Operation,
                    new SelectList(new List<SelectListItem>
                    {
                            new SelectListItem { Value = Operations.ADD.ToString(), Text = "+" },
                            new SelectListItem { Value = Operations.SUBTRACT.ToString(), Text = "-" },
                            new SelectListItem { Value = Operations.MULTIPLY.ToString(), Text = "*" },
                            new SelectListItem { Value = Operations.DIVIDE.ToString(), Text = "/" }
                    }, "Value", "Text"),
                    "Выберите операцию"
            )
        </div>
        <div>
            @Html.TextBoxFor(m => m.NumberModel.SecondNumber)
        </div>
        <button type="submit">Вычислить</button>
    }
}
@if (Model.NumberModel.Result != null) {
    <div>Результат = @Model.NumberModel.Result</div>
}